body {
    height: auto;
    overflow-x: hidden;
    font-family: 'Lexend Deca'
}

.main-illus {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 99vw;
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 8vw;
    width: 100%;
    padding-top: 0vw;
}

nav img {
    width: 15vw;
    height: auto;
    margin-left: 5vw;
}

.nav-links {
    width: 60vw;
    position: absolute;
    right: 0;
    margin-right: -6vw;
}

.nav-links a {
    font-family: 'Airbnb Cereal App';
    font-weight: 500;
    font-size: 1.4vw;
    margin-right: 4vw;
    text-decoration: underline;
}

#home{
    display: flex;
    height: 100vh;
    align-items: center;
}

.heading{
    width: 22vw;
    margin-left: 13vw;
    color:  #707070;
}

.main-head{
    font-family: 'Airbnb Cereal App';
    font-weight: 700;
    font-size: 3.5rem;
    position: relative;
    margin-bottom: 0rem;
    margin-left: 0.3rem;
}

.tagline{
    font-size: 1.7rem;
    font-weight: lighter;
    margin: 0.5rem;
    opacity: 60%;
}

.btn{
    border: none;
    border-radius: 6px;
    background-color: #026670;
    padding: 0.5rem 1.5rem;
    color: white;
    font-family: 'Lexend Deca';
    font-size: 0.9rem;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
}

.btn:hover{
    cursor: pointer;
}

#about{
    margin-top: 7rem;
    margin-bottom: 10rem;
    background-color: #fafafac9;
    height: 90vh;
    width: 100%;
    padding: 3rem 1rem;
    transform: skewY(-5deg) scale(1.05);
    z-index: -100;
}


.about-content{
    transform: skewY(5deg);
    overflow-x: hidden;
    text-align: center;
}

.head{
    color: #026670;
    text-align: center;
}

.about-small{
    width: 45%;
    margin: auto;
    font-size: 1.1rem;
    color: #026670;
}

.about-cards-container{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0rem;
}

.about-card{
    height: 78vh;
    width: 23vw;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.about-card-head{
    padding-top: 1rem;
    font-size: 1.2rem;
    color: #707070;
    opacity: 60%;
}

.about-card-content{
    padding: 0.5rem 2rem;
    font-size: 12.8px;
    text-align: left;
    color: #707070;
    opacity: 70%;
}

.illus{
    width: 85%;
    height: 25vh;
    margin: 1rem auto;
    background: url('/assets/about_illus.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pricing-content{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.pricing-card{
    height: 65vh;
    width: 24vw;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.pricing-center{
    margin: 0rem 1.5rem;
}

.pricing-card-head{
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: #707070;
}

.amount{
    margin: 2rem 0rem;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    color: #525151;
}

.pricing-card-content{
    padding: 0.5rem 3.5rem;
    font-size: 12.8px;
    text-align: left;
    color: #707070;
    opacity: 70%;
}

.get{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}