html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Lexend Deca'
}

.main-illus {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 99vw;
    z-index: -999;
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 8vw;
    width: 100%;
    padding-top: 0vw;
}

nav img {
    width: 15vw;
    height: auto;
    margin-left: 5vw;
}

.nav-links {
    width: 60vw;
    position: absolute;
    right: 0;
    margin-right: -6vw;
}

.nav-links a {
    font-family: 'Airbnb Cereal App';
    font-weight: 500;
    font-size: 1.4vw;
    margin-right: 4vw;
    text-decoration: underline;
    color: black
}

.nav-links a:hover {
    color: #026670;
}

#home{
    display: flex;
    height: 100vh;
    align-items: center;
}

.heading{
    width: 22vw;
    margin-left: 13vw;
    color:  #707070;
}

.main-head{
    font-family: 'Airbnb Cereal App';
    font-weight: 700;
    font-size: 4.4vw;
    position: relative;
    margin-bottom: 0vw;
    margin-left: 0.3vw;
}

.tagline{
    font-size: 2.15vw;
    font-weight: lighter;
    margin: 0.5vw;
    opacity: 60%;
}

.btn{
    border: none;
    border-radius: 6px;
    background-color: #026670;
    padding: 0.5vw 1.5vw;
    color: white;
    font-family: 'Lexend Deca';
    font-size: 1.15vw;
    margin-top: 0.4vw;
    margin-left: 0.5vw;
}

.btn:hover{
    cursor: pointer;
}

#about-wrapper {
    margin-top: 7vw;
    background-color: #fafafac9;
    height: 90vh;
    width: 100%;
    padding: 3vw 1vw;
    transform: skewY(-5deg) scale(1.05);
    z-index: -100;
}

.about-content{
    transform: skewY(5deg);
    overflow-x: hidden;
    text-align: center;
}

.head{
    color: #026670;
    text-align: center;
    font-size: 3.3vw;
    font-weight: 700;
    font-family: 'Airbnb Cereal App';
}

.head-hr {
    width: 20vw; 
    height: 0.15vw; 
    border: none; 
    background-color: #707070;
    margin-top: -2vw;
    margin-bottom: 1.5vw;
}

.about-small{
    width: 47%;
    margin: auto;
    font-size: 1.4vw;
    color: #7fafb4;
}

.about-cards-container{
    display: flex;
    justify-content: space-evenly;
    padding: 3vw 0vw;
}

.about-card{
    height: fit-content;
    padding-bottom: 1vw;
    width: 23vw;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 .5vw 1vw rgba(0,0,0,.15);
}

.about-card-head{
    padding-top: 1vw;
    font-size: 1.5vw;
    color: #707070;
}

.about-card-content{
    padding: 0.5vw 2vw;
    font-size: 1vw;
    text-align: left;
    color: #707070;
    opacity: 70%;
}

.illus{
    width: 85%;
    height: 25vh;
    margin: 1vw auto;
    margin-top: 2vw;
    background: url('/assets/about_illus.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pricing-wrapper {
    padding-top: 10vw;
    height: 100vh;
}

#pricing {
    padding-top: 2vw;
}

.pricing-content{
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}

.pricing-head-hr {
    width: 20vw; 
    height: 0.15vw; 
    border: none; 
    background-color: #707070;
    margin-top: -1.5vw;
    margin-bottom: 4vw;
}

.pricing-card{
    height: fit-content;
    padding-bottom: 2vw;
    width: 24vw;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 .5vw 1vw rgba(0,0,0,.15);
    margin-right: 2vw;
    margin-left: 2vw;
}

.pricing-center{
    margin: 0vw 1.5vw;
}

.pricing-card-head{
    padding-top: 1vw;
    text-align: center;
    font-size: 1.9vw;
    color: #707070;
}

.amount{
    margin: 2vw 0vw;
    font-size: 3.1vw;
    font-weight: 900;
    text-align: center;
    color: #525151;
}

.pricing-card-content{
    padding: 0.5vw 3.5vw;
    font-size: 1vw;
    text-align: left;
    color: #707070;
    opacity: 70%;
}

.get{
    margin-top: 1vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
}

#features-wrapper{
    height: 120vh;
    width: 100vw;
    margin-top: 15vh;
    position: relative;
    background-color: #026670;
}

.skew{
    height: 50vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: -16vh;
    left: 0;
    background-color: #026670;
    transform: skewY(-5deg);
}

.left-aligned-head{
    width: 20vw;
    margin-left: 5.2vw;
    padding-top: 5vh;
}

#features{
    color: white;
    text-align: left;
}

.features-head-hr{
    width: 20vw; 
    height: 0.15vw; 
    border: none; 
    background-color: white;
    margin-top: -1.5vw;
    margin-bottom: 4vw;
}

.features-main{
    display: flex;
    margin-top: -3vw;
}

.features-left{
    width: 30vw;
    height: 110vh;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

.features-right{
    height: 110vh;
    width: 69vw;
    background-image: url('/assets/laptop.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.features-card{
    height: 14vh;
    width: 23vw;
    position: relative;
    background-color: white;
    border-radius: 12px;
    padding: 0.7vw 1vw;
}

.features-card-head{
    font-weight: bold;
    font-size: 1.1vw;
}

.features-card-content{
    font-size: 0.9vw;
    margin-top: 0.4vw;
    font-family: 'Lexend Deca';
    color: #707070;
}

.inactive div{
    color: #7070706e;
}

.inactive::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    z-index: 1;
    height: 17.1vh;
    width: 25vw;
    background-color: #02677070;
}

.feedback-wrapper {
    margin-top: 20vw;
    margin-left: 7vw;
    width: 84vw;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0 .5vw 1vw rgba(0,0,0,.15);
}

.feedback-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-right: 5%;
    padding-top: 1%;
    padding-left: 5%;
}

.feedback-left {
    width: 40%;
    text-align: center;
    padding-right: 3%;
    border-right: 3px solid #b4b4b4;
    height: 95vh;
}

.feedback-right {
    padding-left: 6%;
    height: 95vh;
    width: 50%;
}

.feedback-left h1 {
    color: #026670;
    text-align: center;
    font-size: 3.3vw;
    font-weight: 700;
    font-family: 'Airbnb Cereal App';
}

.feedback-left hr {
    width: 15vw; 
    height: 0.17vw; 
    border: none; 
    background-color: #026670;
    margin-top: -2.6vw;
    margin-bottom: 3vw;
}

.feedback-left p {
    padding: 0.5vw 2vw;
    font-size: 1vw;
    text-align: left;
    color: #707070;
    opacity: 70%;
    word-break: break-all;
}

.feedback-right h3 {
    color: #999999;
    font-weight: 450;
    font-size: 1.8vw;
    font-family: 'Airbnb Cereal App';
    margin-bottom: 0.5vw;
}

.feedback-right input {
    height: 2vw;
    width: 30vw;
    border: none;
    border-radius: 7px;
    padding-left: 1.1vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    background: #ececec;
    font-family: Lexend Deca;
    font-size: 1vw;
}

.feedback-right input:focus {
    outline: none;
}

.feedback-right textarea {
    resize: none;
    height: 12vw;
    width: 30vw;
    border: none;
    border-radius: 7px;
    padding-left: 1.1vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    background: #ececec;
    font-family: Lexend Deca;
    font-size: 1vw;
    color: black;
}

.feedback-right textarea:focus {
    outline: none;
}

.feedback-right .stars {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

.feedback-right .stars i {
    font-size: 2.5vw;
    margin-right: 0.7vw;
    color: #ececec;
}

.feedback-right .stars i:hover {
    cursor: pointer;
}

#selected {
    color: #f8df87;
}